* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

#savingMessage {
  background-color: #E3EDED;
  display: none;
  color: #617777;
  font-weight: bolder;
  position: fixed;
  top: 0;
  left: 50%;
  width: 200px;
  text-align: center;
  margin-left: -100px;
  padding: 5px 0;
  z-index: 1000000;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 3px 2px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 3px 2px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 3px 2px rgba(0, 0, 0, 0.4);
}

.waiting {
  cursor: progress;
}

.teamworkIcon {
  font-family: 'TeamworkRegular' !important;
  color: #34495e;
  font-weight: normal;
  font-size: 120%;
  font-style: normal !important;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}

.teamworkIcon:hover {
  opacity: .8
}

.teamworkIcon.withLabel {
  padding-right: 5px;
}

.button:hover .teamworkIcon {
  opacity: 0.8
}

.teamworkIcon.alert {
  color: #B61E2D;
}

.del {
  color: #ff7271
}

.cvcColorSquare {
  display: inline-block;
  text-align: left;
  border: #fff 0px solid;
  box-shadow: 0px 0px 5px #999;
  -moz-box-shadow: 2px 2px 2px #999;
  -webkit-box-shadow: 0px 0px 5px #999;
  -o-box-shadow: 0px 0px 5px #999;
  text-indent: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.cvcColorSquare:hover {
  opacity: .7;
}

.unselectable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.ui-resizable {
  position: relative;
}

.ui-resizable-handle {
  position: absolute;
  font-size: 0.1px;
  z-index: 99999;
  display: block;
}

.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
  display: none;
}

.table {
  width: 100%;
}

TH,
.tableHeader {
  font-weight: normal;
  color: #555;
  border: none;
  /* background-color: #fff; */
  padding: 2px
}

.list td {
  border-bottom: 1px solid #dedede;
  padding: 5px 0;
}

.list th {
  padding: 5px 2px
}

.row em {
  font-style: normal;
  color: #a2a2a2
}

.ganttTaskEditor h2.task-name {
  text-transform: capitalize;
  font-size: 32px;
  font-weight: 600;
  padding-left: 44px;
  position: relative;
}

.ganttTaskEditor h2.task-name:before {
  content: '';
  display: inline-block;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: url(../../_img/project/icon_folder_black.svg) no-repeat center center / cover;
}

.ganttTaskEditor .formElements,
.resourceEditor .formElements {
  background-color: #ffffff;
  border-color: #DCDCDC;
  padding: 16px;
}

table .resRow td,
table .assigEditRow td {
  border-bottom: 1px solid #cecece;
  padding: 5px 0
}

.heading {
  text-align: center;
}

.heading img {
  display: block;
  margin: -20px auto 30px;
}

#__FEEDBACKMESSAGEPLACE {
  position: absolute;
  background-color: #fafad2;
}

.button.textual {
  vertical-align: middle;
}

.button span.teamworkIcon {
  font-size: .95em;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* html .clearfix {
  height: 1%;
}

.buttonBar.centered {
  text-align: center
}

.buttonBar.block .button {
  margin: 0 0 20px
}

.button {
  display: inline-block;
  font-size: 110%;
  color: #fff;
  cursor: pointer;
  background-color: #34495e;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 5px 12px 8px;
  margin-bottom: 10px;
  margin-right: 10px;
  text-align: center;
  -webkit-transition: background-color 500ms ease-out 1s;
  -moz-transition: background-color 500ms ease-out 1s;
  -o-transition: background-color 500ms ease-out 1s;
  transition: background-color 500ms ease-out 1s;
}

.button.first {
  background-color: #7b02da;
  font-weight: bold;
}

.button.small {
  font-size: 100%;
  padding: 2px 7px 4px;
  margin-bottom: 0
}

.large {
  font-size: 16px;
  width: 180px;
  height: 40px;
  border-radius: 5px
}

.button.first:hover {
  background-color: #2F2F2F;
}

.button[disabled] {
  cursor: default;
  opacity: 0.4
}

.button.textual {
  border: none;
  background-color: transparent;
  color: #68979B;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  padding: 0;
  margin: 0;
  text-align: left
}

.button.opt {
  background-color: #009E94;
  background-color: #2792E6;
}

.button.edit {
  color: #009E94;
  padding: 0;
  margin: 0
}

.button.delete {
  color: #B61E2D;
  padding: 0;
  margin: 0
}

a.button:hover {
  text-decoration: none
}

.button.textual:hover{
  background-color: transparent;
}

span.separator {
  display: inline-block;
}

form {
  margin: 0;
  padding: 0;
}

/* select {
  border: 1px solid #91B4B7;
  padding: 4px;
  font-size: 16px;
} */

.formElements {
  background-color: white;
  padding: 4px;
  font-size: 16px;
  border: 1px solid #91B4B7;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

.formElementsError {
  border: 1px solid #ff0000;
}

.formElementExclamation {
  width: 15px;
  height: 25px;
  margin-left: -20px;
  position: absolute;
  background: url("../../applications/gantt/distrib/res/alert.gif") no-repeat;
}

.modalPopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000080;
  z-index: 1000;
}

.modalPopup.inIframe {
  background-color: rgba(255, 255, 255, 0);
}

.modalPopup.black {
  background-color: rgba(75, 75, 75, 0.6);
}

.modalPopup .bwinPopupd {
  position: relative;
  background-color: #fff;
  margin: auto;
  padding: 56px 72px;
  border-radius: 12px;
}

.modalPopup .popUpClose {
  z-index: 9;
  color: #2f2f2f;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  right: 15px;
  top: 15px;
}